.loaderModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderModal-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
}

.loaderModal-icon {
    width: 80%;
}